canvas {
	background: url(https://i.imgur.com/U335MUn.png);
}

html,body {
	user-select: none;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

::-moz-selection {
	background: #FFFFFF;
}

::selection {
	background: #FFFFFF;
}